.Latitude{
    font-size: 20px;
    color: white;
    padding: 15px;
    background: teal;
    text-decoration: none;
}
/* Start of the DropDown Code */
.dropbtn{
    background-color: white;
    font-size: bold 15px;
    /* color: black; */
    padding: 15px;
    border: none;
    cursor: pointer;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display:none;
    position: absolute;
    z-index: 1;
}
.test{
    color: red;
}
.test2{
    color: purple;
}
.test3{
    color: orange;
}
.test4{
    color: green;
}
.dropdown-content a{
    /* color: black; This will change the dropdown items back to all one color */
    background-color: white;
    display:block;
    text-decoration: none;
}
.dropdown-content a:hover {background-color: white;}

.dropdown:hover .dropdown-content{
    display:block;
}

.dropdown:hover .dropbtn {
    background-color: lightgrey;
}
/* End of the DropDown Code */
.Comparison{
    color: black;
    padding: 15px;
    text-decoration: none;
}
.Data{
    color: black;
    padding: 15px;
    text-decoration: none;
}


/* Allows the list to go accross the top of the page */
.navbar li{
    display: inline-block;
    cursor: pointer;
}

/* Styling for Page Headers */
h1{
    margin-left:50px;
    margin-right:50px;
    color: teal;
}
hr{
    margin-left: 20px;
    margin-right: 20px;
}
/* styling for Visualization Header */
h2{
    margin-left:50px;
    margin-right:50px;
    color: teal;
}
/* For image container */
/* style="margin-left: 75%; height:auto;"  */
/* For paragraph container */
/* style = "width: 75%; height:200px; float:left;" */

.photo{
    display:block; 
    width: 70%;
}


table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 75%;
  }
  
  th, td {
    text-align: left;
    padding: 10px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: teal;
    color: white;
  }

  @media (max-width: 480px){
    .navbar li{
      padding: 20px;
    }
    .post{
      margin-right: 0px;
      margin-left: 0px;
    }
    .Comparison{
        display:none;
    }
    .Data{
        display: none;
    }
    .Plot{
        background:none;
      visibility: visible;
    }
    .navbar{
        padding: 0px;
        background-color: teal;
    }
    .viz{
        margin: 0px;
        display: inline-block;
    }
  }
  .image-grid-container{
      width: 50%;
        display: grid;
  }